<div class="container center">
    <div class="center">
        <div class="row" style="margin-top: 1rem;">
            <div class="col s6">
                <button type="button" class="btn blue darken-1" (click)="makeNumbers('power')">Power (69)</button>
            </div>
            <div class="col s6">
                <button type="button" class="btn red darken-1" (click)="makeNumbers('mega')">Mega (70)</button>
            </div>
        </div>
        <div class="row" *ngIf="ran.length">
            <div class="col s12 m2 center number offset-m1" [ngClass]="{'red':lastSelection=='mega', 'blue':lastSelection=='power'}">{{ran[0]}}</div>
            <div class="col s12 m2 center number" [ngClass]="{'red':lastSelection=='mega', 'blue':lastSelection=='power'}">{{ran[1]}}</div>
            <div class="col s12 m2 center number" [ngClass]="{'red':lastSelection=='mega', 'blue':lastSelection=='power'}">{{ran[2]}}</div>
            <div class="col s12 m2 center number" [ngClass]="{'red':lastSelection=='mega', 'blue':lastSelection=='power'}">{{ran[3]}}</div>
            <div class="col s12 m2 center number" [ngClass]="{'red':lastSelection=='mega', 'blue':lastSelection=='power'}">{{ran[4]}}</div>
        </div>
        <div class="row" *ngIf="extra">
            <div class="col s12 m2 center number offset-m5 grey">x {{extra}}</div>
        </div>
    </div>
</div>