<div class="container center">
    <div class="center">
        <div class="row" style="margin-top: 1rem;">
            <div class="col">
                <button type="button" class="btn blue darken-1" (click)="makeNumbers('power')">Power (69)</button>
            </div>
            <div class="col">
                <button type="button" class="btn red darken-1" (click)="makeNumbers('mega')">Mega (70)</button>
            </div>
            <div class="col">
                <button type="button" class="btn green darken-1" (click)="makeNumbers('texastwostep')">Texas 2 step (35)</button>
            </div>
            <div class="col">
                <button type="button" class="btn orange darken-1" (click)="makeNumbers('ball54')">Ball54 (54 no extra)</button>
            </div>
        </div>
        <div class="row" *ngIf="ran.length">
            <div [class]="'col s12 m1 number ' + getClass()" *ngFor="let oneNumber of ran">{{oneNumber}}</div>
        </div>
        <div class="row" *ngIf="maxExtra">
            <div class="col s12 m1 number grey">x {{extra}}</div>
        </div>
    </div>
</div>